@page "/"
@using System.Collections.ObjectModel
@using LedControleLinuxBlazor.Client.Model
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using System.Globalization
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto
<PageTitle>SLC V2</PageTitle>


<FluentCard class="mt-4">
    <FluentCardBody>
        @foreach (LEDStateJsonModel led in ledStates)
        {
            <div class="led-icon" style="background-color: @led.LedColor;" @onclick="() => OpenLedDialog(led)"></div>
        }
    </FluentCardBody>
</FluentCard>

@if (selectedLed != null)
{
    <FluentDialog open=true onDismiss=CloseLedDialog>
        <FluentLayout> 
            <FluentDialogTitle>
                <FluentStack Orientation="Orientation.Horizontal">
                    LED @selectedLed.LedNumber
                    <FluentButton OnClick="@CloseLedDialog"><span>&times;</span></FluentButton>
                </FluentStack>
            
            </FluentDialogTitle>
            <FluentDialogContent>
                <FluentStack Orientation="Orientation.Vertical">
                    <FluentForm>
                        <FluentFormItem>
                            <label for="colorPicker">Color:</label>
                            <input type="color" id="colorPicker" value="@selectedLed.LedColor" @onchange="(e) => SetLedColor(selectedLed, e.Value.ToString())" />
                        </FluentFormItem>
                        <FluentFormItem>
                            <label for="brightnessRange">Brightness:</label>
                            <input type="range" id="brightnessRange" class="form-range" min="0" max="1" step="0.01" value="@selectedLed.Brightness.ToString(System.Globalization.CultureInfo.InvariantCulture)" @onchange="(e) => SetLedBrightness(selectedLed, e.Value.ToString())" />
                        </FluentFormItem>
                    </FluentForm>    
                </FluentStack>
            
            </FluentDialogContent>
        </FluentLayout>
    </FluentDialog>
}


@code {
    private ObservableCollection<LEDStateJsonModel> ledStates = new ObservableCollection<LEDStateJsonModel>();
    private HubConnection? hubConnection;
    private SplashScreen loadingScreen;

    protected override async Task OnInitializedAsync()
    {
        loadingScreen = new SplashScreen(DialogService);
        await loadingScreen.OpenSplashDefaultAsync("Connection the server");

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/ledControlHub"))
            .WithAutomaticReconnect()
            .Build();
        loadingScreen.UpdateScreen("Loading the LED-s");
        hubConnection.On<ObservableCollection<LEDStateJsonModel>>("GetLeds", (leds) =>
       {
           InvokeAsync(() =>
            {
                ledStates = leds;
                StateHasChanged();
            });
       });

        hubConnection.On<LEDStateJsonModel>("UpdateState", (led) =>
        {
            SetLed(led);
        });

        await hubConnection.StartAsync();
        loadingScreen.UpdateScreen("Load the LED-s");
        LoadLeds();
    }


    private async void LoadLeds()
    {
        try
        {
            if (hubConnection.State == HubConnectionState.Connected)
            {
                await hubConnection.InvokeAsync("SendLedStates");
            }
        }catch(Exception ex)
        {
            Console.WriteLine($"error conection: {ex}");
        }
        finally
        {
            loadingScreen.Close();
        }

    }

    private async void SetLed(LEDStateJsonModel led)
    {
        if (ledStates != null)
        {
            LEDStateJsonModel? oldLed = ledStates.FirstOrDefault(l => l.LedNumber.Equals(led.LedNumber));
            if (oldLed == null)
            {
                ledStates.Add(led);
            }
            else
            {
                oldLed.LedColor = led.LedColor;
                oldLed.Brightness = led.Brightness;
            }
            InvokeAsync(StateHasChanged);
        }
    }

    private async Task SetLedColor(LEDStateJsonModel led, string color)
    {
        led.LedColor = color;
        await hubConnection.InvokeAsync("SettLedState", led);
    }

    private async Task SetLedBrightness(LEDStateJsonModel led, string brightness)
    {
        if (float.TryParse(brightness, NumberStyles.Any, CultureInfo.InvariantCulture, out float brightnessValue))
        {
            led.Brightness = brightnessValue;
        }
        await hubConnection.InvokeAsync("SettLedState", led);
    }


    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }


    LEDStateJsonModel selectedLed;

    void OpenLedDialog(LEDStateJsonModel led)
    {
        selectedLed = led;
    }

    void CloseLedDialog()
    {
        selectedLed = null;
    }
}
